# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
app/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
bin/paratest
bin/phpunit
bin/sauce_config

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# IDE
.idea

#logs
access.log
error.log
