{% set currentRoute = app.request.attributes.get('_route') %}
<section id="col-left">
    <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
            <li {% if 'vilka_control_index' in currentRoute %}class="active"{% endif %}>
                <a href="{{ path('vilka_control_index') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Панель управления</span>
                </a>
            </li>
            {#<li><a href="#"><i class="fa fa-globe"></i><span>Компании</span></a></li>#}
            {#<li><a href="#"><i class="fa fa-map-marker"></i><span>Рестораны</span></a></li>#}
            {#<li><a href="#"><i class="fa fa-users"></i><span>Пользователи</span></a></li>#}
            {#<li><a href="#"><i class="fa fa-cutlery"></i><span>Меню</span></a></li>#}
            {#<li><a href="#"><i class="fa fa-clock-o"></i><span>Бронирование столиков</span></a></li>#}
            {#<li><a href="#"><i class="fa fa-calendar"></i><span>Календарь</span></a></li>#}
            {#<li><a href="#"><i class="fa fa-desktop"></i><span>Афиша</span></a></li>#}
            {#<li><a href="#"><i class="fa fa-comments"></i><span>Отзывы</span></a></li>#}
            <li {% if is_book is defined %}class="open"{% endif %}>
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-file-text-o"></i>
                    <span>Справочники</span>
                    <i class="fa fa-chevron-circle-down drop-icon"></i>
                </a>
                <ul class="submenu" {% if is_book is defined %}style="display: block;"{% endif %}>
                    {#<li><a href="#">Районы</a></li>#}
                    {#<li><a href="#">Города</a></li>#}
                    <li>
                        <a {% if 'vilka_control_subway' in currentRoute %}class="active"{% endif %} href="{{ path('vilka_control_subway') }}">Метро</a>
                    </li>
                    {#<li><a href="#">Кредитные карты</a></li>#}
                    {#<li><a href="#">Классификации заведений</a></li>#}
                    {#<li><a href="#">Развлечения</a></li>#}
                    {#<li><a href="#">События</a></li>#}
                    {#<li><a href="#">Оссобенности заведений</a></li>#}
                    {#<li><a href="#">Кухни</a></li>#}
                    {#<li><a href="#">Особенности меню</a></li>#}
                    {#<li><a href="#">Музыкальные жанры</a></li>#}
                </ul>
            </li>
            {#<li><a href="#"><i class="fa fa-question"></i><span>FAQ</span></a></li>#}
        </ul>
    </div>
</section>