{% extends 'EwaveCoreBundle::layout.html.twig' %}
{% block content %}
<div class="row">
        {% set cols = 3 %}
    <div class="col-lg-12">
        <h2>How to use</h2>
        <p>how to use text...</p>
    </div>
</div>
{% endblock %}
